<nav>
  <ul>
    <li class="main-nav-item">
      <%= link_to 'Team Dynamics App', root_path, class: "title" %>
    </li>
    <li>
      <%= link_to 'Ver Din창micas', root_path, class: "nav-item" %>
    </li>
    <li>
      <%= link_to 'Nova Din창mica', new_dinamica_path, class: "nav-item" %>
    </li>
    <li>
      <%= link_to 'Ver Din창mica Aleat처ria', dinamicas_random_path, class: "nav-item" %>
    </li>
  </ul>
</nav>
