<% content_for :title, "Editing dinamica" %>

<h1>Editing dinamica</h1>

<%= render "form", dinamica: @dinamica %>

<br>

<div>
  <%= link_to "Show this dinamica", @dinamica %> |
  <%= link_to "Back to dinamicas", dinamicas_path %>
</div>
