<div id="<%= dom_id review %>">
  <p>
    <strong>Comentario:</strong>
    <%= review.comentario %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= review.nota %>
  </p>

  <p>
    <strong>Data criacao:</strong>
    <%= review.data_criacao %>
  </p>

</div>
